html{
    font-family: Comic Sans MS;
}
table{
    width: 40%;
    text-align: left;
}
th{
    padding: 1px;
}
dd{
    margin-bottom: 1.5rem;
}
dt{
    font-weight: bold;
}
body{
   background-color: rgb(250, 249, 246);
}
h1{
    font-weight: bold;
    color: #F3C74A;
    font-size: 55px;
    
}
.containerHeader{
    width: 100%;
    height: 45vh;
    position: relative;
}
.title{
    position: absolute;
    margin-left: 20%;
    z-index: 1;
}
.bannerContainer{
    position:absolute;
    width: 100%;
    height: 45vh;
    background-image: url(../Assets/design1_image1.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    position: absolute;
    height: 157px;
    right: 5%;
    top: 77%;
}
.eventsBanner{
    background-color: black;
    z-index: 3;
}
.textEventBanner{
    text-align: center;
    color: aliceblue;
}
.nav{
    position: absolute;
    left: 2%;
}
.divNav{
    margin-top: 35px;
}
.sectionDiv{
    display: flex;
}
.imgBorde{
    height: 350px;
    margin-left: 150px;
    border-radius: 15px;
}
.articleDiv{
    margin-left: 40px;
}
.buttonActive{
    display: block;
    background-color: rgb(130, 167, 166,30%);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    color: rgb(25, 173, 136);
    text-decoration: none;
}
.buttonActive:hover{
    background-color: rgb(130, 167, 166,30%);
    color: rgb(25, 173, 136);
    text-decoration: none;
    transition: 1s;
    transform: scale(1.2)
}
.button{
    display: block;
    width: 140px;
    color: #11698E;
}
.button:hover{
    display: block;
    width: 140px;
    color: #11698E;
    transition: 1s;
    transform: scale(1.2) translate(30px);
}
.centerDiv{
    display: flex; 
    justify-content: center; 
    margin-top: 28px;
}
.centerRules{
    margin-left: 15%;
    margin-right: 15%;
}
.centerForm{
    margin-left: 15%;
    margin-right: 15%;
}
.centerText{
    text-align: center;
}
.textDecoration{
    text-decoration: underline;
}
.mainBack{
    background-image:linear-gradient(rgba(250, 249, 246, 0.85), rgba(250, 249, 246,0.85)) ,url(../Assets/Logo_Mighty_ducks-01.png);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.sinPuntito{
    list-style: none;
}
.colorContainer{
    background-color:rgb(130, 167, 166,30%);
    border-radius: 15px;
    padding: 10px;
}