html{
    font-family: Comic Sans MS;
}
dd{
    margin-bottom: 1.5rem;
}
body{
   background-color: #FAF9F6;
}
.containerHeader{
    width: 100%;
    height: 50vh;
    position: relative;
}
.title{
    text-align: center;
    z-index: 1;
}
.bannerContainer{
    position:absolute;
    top: 12%;
    width: 100%;
    height: 45vh;
    background-image: url(../Assets/design1_image2.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    position: absolute;
    height: 150px;
    left: 1%;
    top: 130%;
}
.eventsBanner{
    border-color: black;
    background-color:#FAF9F6 ;
    z-index: 3;
}
.textEventBanner{
    text-align: center;
    color: black;
}
.sectionDiv{
    display: flex;
}
.imgBorde{
    height: 350px;
    margin-left: 200px;
}
.articleDiv{
    margin-left: 40px;
}
.nav{
    display: flex;
    position: absolute;
    right: 2%;
    top:4%

}
.divNav{
    margin-right: 5px;
}
.sectionDiv{
    display: flex;
}
.imgBorde{
    height: 350px;
    margin-left: 150px;
}
.articleDiv{
    margin-left: 40px;
}
.buttonActive{
    background-color: #7ECA9C;
    border-radius: 5px;
}
.button{
    background-color: #11698E;
    border-radius: 5px;
}